## knn

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("K02_diabetes.csv")
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

import pandas as pd Baris ini mengimpor perpustakaan pandas dan memberinya alias 'pd' untuk referensi lebih mudah. 
pd.read_csv("K02_diabetes.csv") berfungsi untuk membaca data dari file CSV dan membuat DataFrame. Dalam hal ini, file CSV diberi nama "K02_diabetes.csv." DataFrame yang dihasilkan ditugaskan ke variabel df.

In [3]:
x = df.iloc[:,0:-1].values
y = df.iloc[:,-1].values

In [4]:
from sklearn.preprocessing import LabelEncoder
for col in ['gender', 'smoking_history']:
    le = LabelEncoder()
    df[col] =le.fit_transform(df[col])
print(df["gender"].unique(), df['smoking_history'].unique())

[0 1 2] [4 0 1 3 2 5]

Kode ini menggunakan LabelEncoder dari sklearn untuk menyandikan variabel kategori ('gender' dan 'smoking_history') di DataFrame ini df dengan label numerik.

In [5]:
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,0,80.0,0,1,4,25.19,6.6,140,0
1,0,54.0,0,0,0,27.32,6.6,80,0
2,1,28.0,0,0,4,27.32,5.7,158,0
3,0,36.0,0,0,1,23.45,5.0,155,0
4,1,76.0,1,1,1,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,0,80.0,0,0,0,27.32,6.2,90,0
99996,0,2.0,0,0,0,17.37,6.5,100,0
99997,1,66.0,0,0,3,27.83,5.7,155,0
99998,0,24.0,0,0,4,35.42,4.0,100,0
99999,0,57.0,0,0,1,22.43,6.6,90,0

setelah data dalam bentuk numerik, klasisifikasi dalam bentuk x sama y, yaitu y = spesies, x = sepal length dll

In [6]:
x = df.drop(["diabetes"], axis = 1)
y = df["diabetes"]

Pada data frame id sama spiesies dihapus, selain dua itu adalah variabel x. data variabel y itu adalah data yang ada di dalam spesies.

In [7]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split (x,y, test_size = 0.25, random_state = 0)

In [8]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors = 4)
knn.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=4)

In [9]:
print("akurasi model data : {}".format(knn.score(x_test, y_test)))

akurasi model data : 0.9546

menginput library dari sklearn neighbors lalu deklarasikan 1 karena data terdekat, kemudian akurasikan model data yang telah dideklarasiin sebelumnya yaitu test. dengan jumlah sekian atau sekitar 95%

In [10]:
import numpy as np

x_new = np.array([[5.9,3.0,5.1,1.0,4,1.5,2,2.5]])

prediksi = knn.predict(x_new)

print(prediksi)

[0]

C:\ProgramData\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(